In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('average_plant_capacity.csv')
df

    Year State     Coal       NG   Petro    Hydro  Solar    Wind
0   2015    AK   133509   205980    7776    52297      0   26615
1   2015    AL  5915775  2068313   21052   410908      0       0
2   2015    AR  4348006   825904   20148   187852    927       0
3   2015    AZ  6027861  1085712   12029   653572  58586   90407
4   2015    CA   148937   400481    5634    55013  39930  106343
5   2015    CO  2426222   375604     558    38575   8667  311469
6   2015    CT   600469   510656   15599    21604   5813       0
7   2015    DE   598588   668926   30826        0   6930    5126
8   2015    FL  3300308  2194706  102357   122147  17225       0
9   2015    GA  5304375  1484390   10014    99452   7191       0
10  2015    HI  1337412        0  369639    15146   6044   87538
11  2015    IA  1490553    66614    1060   320048      0  244830
12  2015    ID    39496   422620      61   118332      0   70943
13  2015    IL  3207552   139280    1476    13828   9872  346686
14  2015    IN  3401334   560792   78706    76247   4107  410467
15  2015    KS  4098889    17263     970    18963   1806  458270
16  2015    KY  4538776   457671  538606   486211      0       0
17  2015    LA  3791239  1141566  606155   999036      0       0
18  2015    MA  2252664   583539   27752    28523   3368   11298
19  2015    MD  1740700   267961   14521   811595   4569   86919
20  2015    ME        0   368988   91377    61100      0  107975
21  2015    MI  2034001   328603   18366    26771    595  218040
22  2015    MN  2058091   205262     372    31446   1394   78230
23  2015    MO  3266276   106893    1938   265836   4224  172179
24  2015    MS  2133201  1555756    3532        0      0       0
25  2015    MT  3202641   119841  496426   429901      0  163727
26  2015    NC  3070935  2030255    9053   115658   5202       0
27  2015    ND  2773441   237014    2645  2094168      0  250219
28  2015    NE  2418542    12668     169   153180      0  212030
29  2015    NH   468331  2017231   19507    37359      0  141165
30  2015    NJ   439774   754580   46867     4770   5023   10769
31  2015    NM  6813177   407157   15739    19894  14997  139334
32  2015    NV   885763  1611084   15982   377356  87231  309724
33  2015    NY   396677   632482   45054   162590   4021  180771
34  2015    OH  4218207   737729   23105    91333   4005  120300
35  2015    OK  3552433  1142877     831   266390   1556  389747
36  2015    OR  2377359  1353091       0   480828   3026  195045
37  2015    PA  2585489  1486366   19197   153159   3194  139694
38  2015    RI        0   823242   57136     1574   2391    3355
39  2015    SC  2828896   827465   12074    80136   4220       0
40  2015    SD  1495079    96594    1323  1212621      0  227046
41  2015    TN  4369475   776977   33783   342187  15229   22920
42  2015    TX  5788299  1485821   20130    41583  26717  344872
43  2015    UT  5276081   357289    6577    26509   2123  208639
44  2015    VA  1325494  1331368   29153    46337      0       0
45  2015    VT        0        0     339    24771   3001   81341
46  2015    WA  5051915   686627    5417   991958    790  336923
47  2015    WI  2478703   297750    6492    36010   1417  132448
48  2015    WV  5671341   434543  140214   125913      0  275246
49  2015    WY  3590932    72230   14966    54266      0  187835

In [5]:
df_Coal = np.sum(df.Coal)/47
df_NG = np.sum(df.NG)/48
df_Petro = np.sum(df.Petro)/49
df_Solar = np.sum(df.Solar)/48
df_Wind = np.sum(df.Wind)/44
df_Hydro = np.sum(df.Hydro)/49
mean_list = [df_Coal, df_NG, df_Petro, df_Hydro, df_Solar, df_Wind]
mean_list

[2878153.5744680851,
 745328.35416666663,
 61279.65306122449,
 250713.32653061225,
 7612.3125,
 156965.56818181818]

In [6]:
population_mean = pd.DataFrame()
row = pd.Series(mean_list,['Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind'])
population_mean = population_mean.append([row]).astype(int)
population_mean

      Coal      NG  Petro   Hydro  Solar    Wind
0  2878153  745328  61279  250713   7612  156965

In [7]:
population_mean.to_csv('population_mean.csv', index = False)