In [1]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('arranged_esource')
df = df.drop(['Unnamed: 0', 'Nuclear', 'Other Biomass', 'Other Gases', 'Pumped Storage', 'Total', 'Wood and Wood Derived Fuels', 'Geothermal', 'Other'],axis = 1)
df = df.rename(columns = {'Petroleum':'Petro','Natural Gas':'NG','Hydroelectric Conventional':'Hydro','Solar Thermal and Photovoltaic':'Solar'})
df = df[['Year', 'State', 'Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind']]
df = df[df['Year'].isin([2015])].reset_index(drop = True)
df

    Year State       Coal         NG     Petro      Hydro     Solar      Wind
0   2015    AK    1335099    6179426   1493134    3137858         0    319388
1   2015    AL   82820859  111688913    168416   19723608         0         0
2   2015    AR   43480066   29732572    120888    7138390      1854         0
3   2015    AZ   72334338   67314205     96236   13071444   6913216    904070
4   2015    CA     595748  232279218    169030   27616996  29628768  24459118
5   2015    CO   63081789   23287499     14530    3240322    502742  14950558
6   2015    CT    1200938   34724618    873583     604934     34878         0
7   2015    DC          0      45306       196          0         0         0
8   2015    DE    1197176   13378535    308267          0     97023     10252
9   2015    FL   85808018  311648304   4299030     488588    447866         0
10  2015    GA   74261260  100938531    520743    5967126    258904         0
11  2015    HI    2674824          0  14046299     242340    108794   1225544
12  2015    IA   59622150    4796270    220583    1920290         0  35745264
13  2015    ID     157986    7607176       122   17513244         0   4540372
14  2015    IL  147547412   21727765    112186     248920     98720  21494540
15  2015    IN  156461374   32525974   2676006     762472    312196   9030294
16  2015    KS   49186668    2347804     97004      37926      3612  21997002
17  2015    KY  145240858   11899453   2154426    6806962         0         0
18  2015    LA   30329916  132421664   8486171    1998072         0         0
19  2015    MA    4505328   42014822   1554151    1654368    902732    429332
20  2015    MD   27851209    9110690    464695    3246380    237603    869190
21  2015    ME     183802    5903812   1096526    6721054         0   2591416
22  2015    MI  105768066   40089596   1652983    2998446      2380   9593796
23  2015    MN   49394196   14778876     55878    1698108      5578  19557690
24  2015    MO  130651042    9192827    197684    3190040     33796   2066152
25  2015    MS   12799210   90233886     28258          0         0         0
26  2015    MT   32026411    1198412    992852   19775458         0   3929452
27  2015    NC   79844335   73089192    869175    9484008   2747158         0
28  2015    ND   55468826    1422088     52917    4188336         0  13011408
29  2015    NE   48370842     861461     12230    3369960         0   6360926
30  2015    NH    1873324   12103390    351128    2540444         0    846992
31  2015    NJ    3518192   73948913    749872      19082   1255780     43078
32  2015    NM   40879064   18729248    125916     198946   1229754   4180042
33  2015    NV    5314578   57999027     31964    4528272   3314810    619448
34  2015    NY    4760131  113846830   3784585   52029040    201052   7953960
35  2015    OH  143419059   56067431   2634054     913338    112144   2406016
36  2015    OK   49734064   68572653     21624    5327802      3112  28061794
37  2015    OR    4754718   32474184     12130   62507702     48416  13263110
38  2015    PA  129274466  118909310   1458975    5207408    127788   6705344
39  2015    RI          0   13171886    228546       6296     28702     20134
40  2015    SC   45262346   33098613    386390    5128720      8440         0
41  2015    SD    2990158    1545506     34406    9700970         0   4995026
42  2015    TN   61172663   18647460    270267   19162480    152294     91682
43  2015    TX  243108567  475462854    483128    1912820    801518  89666730
44  2015    UT   63312978   16435331     39465    1537546     63718   1251834
45  2015    VA   34462851   66568431   2215670    2316856         0         0
46  2015    VT          0       2987      6112    2278996     96044    650730
47  2015    WA   10103830   26091855     43342  146809832      1580  14150770
48  2015    WI   74361094   26797551    415500    4681362      2834   3178762
49  2015    WV  136112185    2607261    280428    2770086         0   2752464
50  2015    WY   86182378    1444609     89797    1736522         0   7513416

In [26]:
df_Coal = np.sum(df.Coal)
df_Coal = df_Coal/48
df_NG = np.sum(df.NG)
df_NG = df_NG/50
df_Petro = np.sum(df.Petro)
df_Petro = df_Petro/51
df_Solar = np.sum(df.Solar)
df_Solar = df_Solar/(51-17)
df_Wind = np.sum(df.Wind)
df_Wind = df_Wind/(51-12)
df_Hydro = np.sum(df.Hydro)
df_Hydro = df_Hydro/(48)

In [27]:
population_mean = pd.DataFrame()
population_mean.insert(0, 'Year', 2015)
population_mean['Coal'] = df_Coal
population_mean['NG'] = df_NG
population_mean['Petro'] = df_Petro
population_mean['NG'] = df_NG

Empty DataFrame
Columns: [Year, Coal]
Index: []