In [1]:
import numpy as np
import pandas as pd

In [2]:
# load average plant capacity file
df = pd.read_csv('average_plant_capacity.csv')
df

    Year State     Coal       NG   Petro    Hydro  Solar    Wind
0   2015    AK    66754   102990    3888    26148      0   13307
1   2015    AL  2957887  1034156   10526   205454      0       0
2   2015    AR  2174003   412952   10074    93926    463       0
3   2015    AZ  3013930   542856    6014   326786  29293   45203
4   2015    CA    74468   200240    2817    27506  19965   53171
5   2015    CO  1213111   187802     279    19287   4333  155734
6   2015    CT   300234   255328    7799    10802   2906       0
7   2015    DE   299294   334463   15413        0   3465    2563
8   2015    FL  1650154  1097353   51178    61073   8612       0
9   2015    GA  2652187   742195    5007    49726   3595       0
10  2015    HI   668706        0  184819     7573   3022   43769
11  2015    IA   745276    33307     530   160024      0  122415
12  2015    ID    19748   211310      30    59166      0   35471
13  2015    IL  1603776    69640     738     6914   4936  173343
14  2015    IN  1700667   280396   39353    38123   2053  205233
15  2015    KS  2049444     8631     485     9481    903  229135
16  2015    KY  2269388   228835  269303   243105      0       0
17  2015    LA  1895619   570783  303077   499518      0       0
18  2015    MA  1126332   291769   13876    14261   1684    5649
19  2015    MD   870350   133980    7260   405797   2284   43459
20  2015    ME        0   184494   45688    30550      0   53987
21  2015    MI  1017000   164301    9183    13385    297  109020
22  2015    MN  1029045   102631     186    15723    697   39115
23  2015    MO  1633138    53446     969   132918   2112   86089
24  2015    MS  1066600   777878    1766        0      0       0
25  2015    MT  1601320    59920  248213   214950      0   81863
26  2015    NC  1535468  1015127    4526    57829   2601       0
27  2015    ND  1386720   118507    1322  1047084      0  125109
28  2015    NE  1209271     6334      84    76590      0  106015
29  2015    NH   234165  1008615    9753    18679      0   70582
30  2015    NJ   219887   377290   23433     2385   2511    5384
31  2015    NM  3406588   203578    7869     9947   7498   69667
32  2015    NV   442881   805542    7991   188678  43615  154862
33  2015    NY   198338   316241   22527    81295   2010   90385
34  2015    OH  2109103   368864   11552    45666   2002   60150
35  2015    OK  1776216   571438     415   133195    778  194873
36  2015    OR  1188679   676545       0   240414   1513   97522
37  2015    PA  1292744   743183    9598    76579   1597   69847
38  2015    RI        0   411621   28568      787   1195    1677
39  2015    SC  1414448   413732    6037    40068   2110       0
40  2015    SD   747539    48297     661   606310      0  113523
41  2015    TN  2184737   388488   16891   171093   7614   11460
42  2015    TX  2894149   742910   10065    20791  13358  172436
43  2015    UT  2638040   178644    3288    13254   1061  104319
44  2015    VA   662747   665684   14576    23168      0       0
45  2015    VT        0        0     169    12385   1500   40670
46  2015    WA  2525957   343313    2708   495979    395  168461
47  2015    WI  1239351   148875    3246    18005    708   66224
48  2015    WV  2835670   217271   70107    62956      0  137623
49  2015    WY  1795466    36115    7483    27133      0   93917

In [5]:
# calculate the population mean for each type of resources in 2015
df_Coal = np.sum(df.Coal)/47
df_NG = np.sum(df.NG)/48
df_Petro = np.sum(df.Petro)/49
df_Solar = np.sum(df.Solar)/48
df_Wind = np.sum(df.Wind)/44
df_Hydro = np.sum(df.Hydro)/49
mean_list = [df_Coal, df_NG, df_Petro, df_Hydro, df_Solar, df_Wind]
mean_list

[2878153.5744680851,
 745328.35416666663,
 61279.65306122449,
 250713.32653061225,
 7612.3125,
 156965.56818181818]

In [6]:
# creat a dataframe to show population mean for each type of resource in 2015, and convert the type of mean value to integer
population_mean = pd.DataFrame()
row = pd.Series(mean_list,['Coal', 'NG', 'Petro', 'Hydro', 'Solar', 'Wind'])
population_mean = population_mean.append([row]).astype(int)
population_mean

      Coal      NG  Petro   Hydro  Solar    Wind
0  2878153  745328  61279  250713   7612  156965

In [7]:
population_mean.to_csv('population_mean.csv', index = False)