In [87]:
import pandas as pd

In [88]:
data = pd.read_csv("wind_data_all.csv")

In [89]:
data.head()

   year        Area  cost($/MWh)
0  2000   Southeast        36.82
1  2000  GreatLakes        93.64
2  2000    Interior        33.35
3  2000        West        34.39
4  2000   Northeast        48.69

In [90]:
statelist = ['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 
             'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 
             'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 
             'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [91]:
west_list = ['WA','OR','CA','AZ','NV','UT','ID']
interior_list = ['MT','WY','CO','NM','ND','SD','NE','KS','OK','TX','MN','IA','MO']
greatlakes_list = ['WI','IL','IN','OH','MI']
northeast_list = ['PA','NY','ME','VT','NH','MA','RI','CT','NJ']
southeast_list = ['FL','LA','MS','AL','GA','SC','AR','TN','NC','KY','WV','VA','MD','DE']

In [92]:
#check whether the five areas cover all the states
total_list = []
total_list.extend(west_list)
total_list.extend(interior_list)
total_list.extend(greatlakes_list)
total_list.extend(northeast_list)
total_list.extend(southeast_list)
for items in statelist:
    if items in total_list:
        pass
    else:
        southeast_list.append(items)
        print(items) 
print(southeast_list)

AK
HI
['FL', 'LA', 'MS', 'AL', 'GA', 'SC', 'AR', 'TN', 'NC', 'KY', 'WV', 'VA', 'MD', 'DE', 'AK', 'HI']

In [93]:
#Extract the cost of different area as dataframe
west_cost = data[data['Area'].isin(['West'])]
interior_cost = data[data['Area'].isin(['Interior'])]
greatlakes_cost = data[data['Area'].isin(['GreatLakes'])]
northeast_cost = data[data['Area'].isin(['Northeast'])]
southeast_cost = data[data['Area'].isin(['Southeast'])]

In [97]:
#Represent the cost data in each state by data of corresponding area
wind_cost_df = pd.DataFrame() 
for items in west_list:
    items = west_cost.replace('West',items)
    wind_cost_df = wind_cost_df.append(items)
for items in interior_list:
    items = interior_cost.replace('Interior',items)
    wind_cost_df = wind_cost_df.append(items)
for items in greatlakes_list:
    items = greatlakes_cost.replace('GreatLakes',items)
    wind_cost_df = wind_cost_df.append(items)
for items in northeast_list:
    items = northeast_cost.replace('Northeast',items)
    wind_cost_df = wind_cost_df.append(items)
for items in southeast_list:
    items = southeast_cost.replace('Southeast',items)
    wind_cost_df = wind_cost_df.append(items)
wind_cost_df.head()

    year Area  cost($/MWh)
3   2000   WA        34.39
8   2001   WA        34.39
13  2002   WA        42.89
18  2003   WA        42.89
23  2004   WA        52.14

In [98]:
#Rename the columns, sort, reset index, export the csv file
wind_cost_df.columns = ['Year','State','WindCost']
wind_cost_df = wind_cost_df.sort(['Year','State'])
wind_cost_df.reset_index(inplace=True)
wind_cost = wind_cost_df.iloc[:,1:4]
wind_cost.to_csv('wind_cost_2000to2016.csv')
wind_cost

C:\Users\Jiayuan\Miniconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

     Year State  WindCost
0    2000    AK     36.82
1    2000    AL     36.82
2    2000    AR     36.82
3    2000    AZ     34.39
4    2000    CA     34.39
5    2000    CO     33.35
6    2000    CT     48.69
7    2000    DE     36.82
8    2000    FL     36.82
9    2000    GA     36.82
10   2000    HI     36.82
11   2000    IA     33.35
12   2000    ID     34.39
13   2000    IL     93.64
14   2000    IN     93.64
15   2000    KS     33.35
16   2000    KY     36.82
17   2000    LA     36.82
18   2000    MA     48.69
19   2000    MD     36.82
20   2000    ME     48.69
21   2000    MI     93.64
22   2000    MN     33.35
23   2000    MO     33.35
24   2000    MS     36.82
25   2000    MT     33.35
26   2000    NC     36.82
27   2000    ND     33.35
28   2000    NE     33.35
29   2000    NH     48.69
..    ...   ...       ...
820  2016    ME     18.89
821  2016    MI     18.89
822  2016    MN     17.54
823  2016    MO     17.54
824  2016    MS     18.89
825  2016    MT     17.54
826  2016    NC     18.89
827  2016    ND     17.54
828  2016    NE     17.54
829  2016    NH     18.89
830  2016    NJ     18.89
831  2016    NM     17.54
832  2016    NV     18.89
833  2016    NY     18.89
834  2016    OH     18.89
835  2016    OK     17.54
836  2016    OR     18.89
837  2016    PA     18.89
838  2016    RI     18.89
839  2016    SC     18.89
840  2016    SD     17.54
841  2016    TN     18.89
842  2016    TX     17.54
843  2016    UT     18.89
844  2016    VA     18.89
845  2016    VT     18.89
846  2016    WA     18.89
847  2016    WI     18.89
848  2016    WV     18.89
849  2016    WY     17.54

[850 rows x 3 columns]